@import url('https://fonts.googleapis.com/css?family=VT323');

* {
  margin: 0;
  font-family: VT323;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html {
  height: 100%;
}

body {
  background-color: #D9D08D;
  height: 100%;
}

::-webkit-scrollbar {
    width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 0px;
}

.conversation-container{
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: black;
  overflow:auto;
}

.overlay-image {
  position: absolute;
  width: 1024px;
  height: 100%;
  pointer-events: none;
}

.bot_container {
  margin-top: 60px;
  width: 850px;
  height: 75%;
  margin: 60px auto 0 auto;
  overflow-y: scroll;
}

.input_container {
  width: 850px;
  margin:0 auto;
}

#form > p {
  color: white;
  font-size: 1.5rem;
  padding: 10px;
}

#form {
  display: flex;
}

.input{
  width: 100%;
  border: none;
  padding: 10px;
  background: transparent;
  height: 100%;
  outline: none;
  border-radius: 7px;
  color: white;
  font-size: 1.5rem;
}

.submit-button {
  display: none;
}

.bot-message:first-child {
  margin-top: 10px;
}

.message {
  width: 600px;
  padding: 5px 0px 5px 0px;
  float: left;
  color: #04D304;
  font-size: 1.5rem;
}

.user-message {
  margin-top: 15px;
}
