<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Bot</title>
  <link rel="stylesheet" type="text/css" href="static/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

</head>

<body>

  <div class="conversation-container">

    <img width="1024px" class="overlay-image" src="static/computador.png">

    <div id="conversation" class="bot_container">

      <div class="message">
        <p> Ora ora, se não é um humano que veio à minha procura. </p>
      </div>


    </div>

    <div class="input_container">
      <form id="form" method="POST" for="textInput">
        <p> > </p>
        <input id="user-input" class="input" type="textInput" name="textField" placeholder="Digite aqui para falar com Edgardo">
        <input class="submit-button" type="submit"/>
      </form>

    </div>

  </div>

  <script>




    document.getElementById("conversation").scrollTop = 9999999;


    $( window ).on( "load", function() {
      $('.message:contains(">")').addClass('user-message ');
    })


    if (!!$.cookie('conversa')) {
       var json_str = $.cookie('conversa');
    } else {
      var conversa = []
      var json_str = JSON.stringify(conversa);
      $.cookie('conversa', json_str);
    }


    var conversa = JSON.parse(json_str);


    {% for ultimaConversa in conversa %}

      conversa.push("{{ ultimaConversa }}")

    {% endfor %}


    $.each(conversa, function(index, value) {
        $("#conversation").append("<div class='message'><p>" + value + "</p></div>")
    });


    var json_str = JSON.stringify(conversa);
    $.cookie('conversa', json_str);




  </script>

</body>

</html>
