<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta HTTP-EQUIV="Pragma" content="no-cache">
  <meta HTTP-EQUIV="Expires" content="-1">
  <title>Bot</title>
  <link rel="stylesheet" type="text/css" href="static/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

  <div class="conversation-container">

    <img width="1024px" class="overlay-image" src="static/computador.png">

    <div id="conversation" class="bot_container">

      <div class="message">
        <p> Ora ora, se não é um humano que veio à minha procura. </p>
      </div>

      {% for responses in conversation %}
      <div class="message">
        <p> {{ responses }} </p>
      </div>
      {% endfor %}

    </div>

    <div class="input_container">
      <form id="form" method="POST" for="textInput">
        <p> > </p>
        <input id="user-input" class="input" type="textInput" name="textField" placeholder="Digite aqui para falar com Edgardo">
        <input class="submit-button" type="submit"/>
      </form>


    </div>

  </div>

  <script>

    document.getElementById("conversation").scrollTop = 9999999;
    $( window ).on( "load", function() {
      $('.message:contains(">")').addClass('user-message ');
    })

  </script>

</body>

</html>
